@font-face {
  font-family: 'IM Fell Great Primer SC';
  font-style: normal;
  font-weight: 400;
src: local('IM FELL Great Primer SC'), local('IM_FELL_Great_Primer_SC'), url(great_primer_sc.woff) format('woff');
}
@font-face {
  font-family: 'IM Fell Great Primer';
  font-style: normal;
  font-weight: 400;
src: local('IM FELL Great Primer Roman'), local('IM_FELL_Great_Primer_Roman'), url(great_primer_roman.woff) format('woff');
}
@font-face {
  font-family: 'IM Fell Great Primer';
  font-style: italic;
  font-weight: 400;
src: local('IM FELL Great Primer Italic'), local('IM_FELL_Great_Primer_Italic'), url(great_primer_italic.woff) format('woff');
}
