
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/fonts.css" />
    
    <meta charset="utf-8" />
    
    <meta name="robots" content="noodp" />
    <meta name="description" content="iM's Mind" />
    
    <title>{{ page.title }}</title>
  	
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/cities-of-fire.css" />
    
    <!-- Remy Sharp's html5shiv, to make IE accept HTML5. -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body class="" id="">
      {{ content }}
  </body>
</html>
